name: gitbook-publish
on:
  push:
    branches:
      - main
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    env:
      USER_NAME: ${{ secrets.GIT_USERNAME }}
      USER_EMAIL: ${{ secrets.GIT_EMAIL }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - run: npm install gitbook-cli -g
      - run: gitbook build book/ ./_book
      - run: |
          pip install ghp-import
          ghp-import -n -p -f _book
